includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - ../../src
        - ../../tests
        - ../../lib/TreeBundle/lib
        - ../../lib/ToolBundle/lib
    bootstrapFiles:
        - ../../vendor/autoload.php
